%form{:action => "/forgot_password", :method => "post"}

  = Rack::Csrf.csrf_tag(env)

  .input-prepend
    %span(class='add-on')
      %i(class='icon-envelope')
    %input{:id => "user_email", :name => "email", :placeholder => "E-Mail", :class => 'span2', :type => 'text'}

  %br

  %button{:class => 'btn btn-info', :type => "submit"}
    Send me a new password
    %i(class='loginbox-icon icon-envelope icon-large')

