%form{:action => "/login", :method => "post"}
  .input-prepend
    %span(class='add-on')
      %i(class='icon-envelope')
    %input{:id => "user_email", :name => "email", :placeholder => "E-Mail", :class => 'span2', :type => 'text', :size => 50}

    %span(class='add-on')
      %i(class='icon-key')
    %input{:id => "user_password", :name => "password", :placeholder => "Password", :class => 'span2', :type => "password", :size => 10}

    %button{:value => "Login", :class => 'btn btn-success', :type => "button"}
      %i(class='icon-circle-arrow-right icon-large') Login
