%form{:action => "/login", :method => "post"}

  = Rack::Csrf.csrf_tag(env)

  .input-prepend
    %span(class='add-on')
      %i(class='icon-envelope')
    %input{:id => "user_email", :value => h(@email), :name => "email", :placeholder => "E-Mail", :class => 'span2', :type => 'text'}

  .input-prepend
    %span(class='add-on')
      %i(class='icon-key')
    %input{:id => "user_password", :name => "password", :placeholder => "Password", :class => 'span2', :type => "password"}

  %br

  %button{:value => "Login", :class => 'btn btn-info', :type => "submit"}
    Login
    %i(class='loginbox-icon icon-arrow-right icon-large')

%br
%a{:href => '/forgot_password'}
  I forgot my password.
