%form{:action => "/login", :method => "post", :class => "navbar-form pull-right"}
  .input-prepend
    %span(class='add-on')
      %i(class='icon-envelope')
    %input{:id => "user_email", :name => "email", :placeholder => "E-Mail", :class => 'span2', :type => 'text', :style => 'border-radius: 0px; border-right: 0px;'}

    %span(class='add-on')
      %i(class='icon-key')
    %input{:id => "user_password", :name => "password", :placeholder => "Password", :class => 'span2', :type => "password"}

    %button{:value => "Login", :class => 'btn btn-info', :type => "submit"}
      Login
      %i(class='loginbox-icon icon-lock icon-large')
