- if request.referer and request.referer.include? '/login'
  = haml :error, :locals => {:error => "Incorrect email or password"}

%form{:action => "/login", :method => "post"}

  = Rack::Csrf.csrf_tag(env)

  .input-prepend
    %span(class='add-on')
      %i(class='icon-envelope')
    %input{:id => "user_email", :name => "email", :placeholder => "E-Mail", :class => 'span2', :type => 'text'}

  .input-prepend
    %span(class='add-on')
      %i(class='icon-key')
    %input{:id => "user_password", :name => "password", :placeholder => "Password", :class => 'span2', :type => "password"}

  %button{:value => "Login", :class => 'btn btn-info', :type => "submit"}
    Login
    %i(class='loginbox-icon icon-arrow-right icon-large')
