%form{:action => "/login", :method => "post"}
  %input{:id => "user_email", :name => "email", :placeholder => "E-Mail", :class => 'xlarge', :type => 'text', :size => 30}
  %input{:id => "user_password", :name => "password", :placeholder => "Password", :type => "password"}
  %input{:value => "Login", :class => 'btn', :type => "submit"}
