%form{:action => "/reset_password", :method => "post"}
  = Rack::Csrf.csrf_tag(env)
  %input{:type => 'hidden', :name => 'secret', :value => params[:secret]}
  .input-prepend
    %span(class='add-on')
      %i(class='icon-key')
    %input{:placeholder => "New Password", :name => "password", :size => 30, :type => "password" }

  .input-prepend
    %span(class='add-on')
      %i(class='icon-key')
    %input{:placeholder => "Confirm New Password", :name => "confirmation", :size => 30, :type => "password" }

  %br

  %button{:value => "Save Settings", :class => 'btn-warning btn', :type => "submit"}
    Apply Changes
    %i(class='loginbox-icon icon-wrench icon-large')
