%form{:action => "/settings/#{@user.id}", :method => "post"}
  .field
    .label
      %label{:for => "user_email"} Email
    %input{ :id => "user_email", :name => "user[email]", :size => 30, :type => "text", :value => @user.email }
  .field
    .label
      %label{:for => "user_password"} New password
    %input{ :id => "user_password", :name => "user[password]", :size => 30, :type => "password" }
  .field
    .label
      %label{:for => "user_password_confirmation"} Confirm
    %input{ :id => "user_password_confirmation", :name => "user[password_confirmation]", :size => 30, :type => "password" }

  .buttons
    %input{ :value => "Update", :type => "submit" }
