%form{:action => "/signup", :method => "post"}

  = Rack::Csrf.csrf_tag(env)

  .input-prepend
    %span(class='add-on')
      %i(class='icon-envelope')
    %input.span2{:id => "user_email", :value => h(@email), :name => "user[email]", :placeholder => "E-Mail", :type => 'email'}

  .input-prepend
    %span(class='add-on')
      %i(class='icon-key')
    %input.span2{:id => "user_password", :name => "user[password]", :placeholder => "Password", :type => "password"}

  .input-prepend
    %span(class='add-on')
      %i(class='icon-key')
    %input.span2{:id => "user_password_confirmation", :name => "user[password_confirmation]", :placeholder => "Confirm Password", :type => "password"}

  %br

  %label.checkbox{:style => 'margin-left: 3px;'}
    %input{:id => "tos", :name => 'tos', :type => 'checkbox', :value => ''}
    I agree to the
    %a{:href => '#tocModal', 'data-toggle' => 'modal'}
      Terms and Conditions

  %br

  %button{:value => "Sign up", :class => 'btn-success btn', :type => "submit"}
    Sign up
    %i(class='loginbox-icon icon-bolt icon-large')

.modal.hide.fade{:id => 'tocModal', 'tabindex' => '-1', :role => 'dialog'}
  .modal-header
    %button.close{:type => 'button', 'data-dismiss' => 'modal'}
      x
    %h2 Terms and Conditions
  .modal-body
    = haml :tos
  .modal-footer
    %button.btn{'data-dismiss' => 'modal'}
      Close
