- if @error
  = haml :error, :locals => {:error => @error}

%form{:action => "/signup", :method => "post"}
  %input{:id => "user_email", :name => "user[email]", :placeholder => "E-Mail", :class => 'xlarge', :type => 'email', :size => 30}
  %br
  %input{:id => "user_password", :name => "user[password]", :placeholder => "Password", :type => "password"}
  %br
  %input{:id => "user_password_confirmation", :name => "user[password_confirmation]", :placeholder => "Confirm Password", :type => "password"}
  %br

  %label.checkbox{:style => 'margin-left: 3px;'}
    %input{:type => 'checkbox', :value => ''}
    %a{:href => '#tocModal', 'data-toggle' => 'modal'}
      I agree to the terms and conditions
  %input{:value => "Sign Up", :class => 'btn-success btn', :type => "submit"}

.modal.hide.fade{:id => 'tocModal', :role => 'dialog'}
  .modal-header
    %button.close{:type => 'button', 'data-dismiss' => 'modal'}
      x
    %h2 Terms and Conditions of Use
  .modal-body
    = haml :tos
  .modal-footer
    %button.btn{'data-dismiss' => 'modal'}
      Close
