= "By accessing this site, you agree to not hold '#{settings.project_name}' responsible for anything at all anytime, anywhere."
= "It's up to you to abide by the law in your jurisdiction, and '#{settings.project_name}' is in no way accountable for your actions."
These terms and conditions may change at any time without notice.
